* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(lightblue, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}
